openai==1.58.1
python-dotenv==1.0.1
azure-cognitiveservices-speech==1.41.1
requests==2.32.3
azure-ai-inference==1.0.0b6
azure-identity==1.19.0
httpx==0.28.1
pickleshare==0.7.5 
azure-storage-blob==12.24.0
pandas==2.2.3
audiomentations==0.38.0
pyloudnorm==0.1.1